.container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  padding: 10px;
}
