.container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

.statTitle {
  display: flex;
  align-items: center;
}

.indicator {
  width: 30px;
}

.list {
  position: absolute;
  bottom: -150%;
}
